.hability {
  padding: 5px 20px;
}

.Reaction {
  background-color: var(--color-primary-1-low-opacity);
}

.Reaction h4::before {
  content: url("../../../assets/images/icon-Reaction.svg");
}

.Reaction h4 {
  color: var(--color-primary-1);
}

.Memory {
  background-color: var(--color-primary-2-low-opacity);
}

.Memory h4::before {
  content: url("../../../assets/images/icon-Memory.svg");
}

.Memory h4 {
  color: var(--color-primary-2);
}

.Verbal {
  background-color: var(--color-primary-3-low-opacity);
}

.Verbal h4::before {
  content: url("../../../assets/images/icon-Verbal.svg");
}

.Verbal h4 {
  color: var(--color-primary-3);
}

.Visual {
  background-color: var(--color-primary-4-low-opacity);
}

.Visual h4::before {
  content: url("../../../assets/images/icon-Visual.svg");
}

.Visual h4 {
  color: var(--color-primary-4);
}
