@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-primary-1: hsl(0, 100%, 67%);
  --color-primary-2: hsl(39, 100%, 56%);
  --color-primary-3: hsl(166, 100%, 37%);
  --color-primary-4: hsl(234, 85%, 45%);
  --color-primary-1-low-opacity: hsla(0, 100%, 67%, 0.100);
  --color-primary-2-low-opacity: hsl(39, 100%, 56%, 0.100);
  --color-primary-3-low-opacity: hsl(166, 100%, 37%, 0.100);
  --color-primary-4-low-opacity: hsl(234, 85%, 45%, 0.100);

  --gradient-violet-1: hsl(252, 100%, 67%);
  --gradient-violet-2: hsla(256, 72%, 46%, 1);
  --gradient-violet-3: hsl(241, 81%, 54%);
  --gradient-violet-4: hsla(241, 72%, 46%, 0);

  --color-grey-1: hsl(224, 30%, 27%);
  --color-grey-2: hsl(241, 100%, 89%);
  --color-grey-3: hsl(221, 100%, 96%);
  --color-grey-4: hsl(0, 0%, 100%);

  --font-size-1: 18px;

  --weight-1: 800;
  --weight-2: 700;
  --weight-3: 500;

  font-family: "Hanken Grotesk", sans-serif;
}

body {
  padding: 20px;
}

h1, h2, h3, h4 {
  margin:  0;
}

li {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}