.padding-vertical-large {
  padding-bottom: 100px;
  padding-top: 100px;
}

.padding-horizontal-medium {
  padding-left: 50px;
  padding-right: 50px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

@media (max-width: 828px) {
  .padding-vertical-large {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}