.bg-grey-100 {
    background-color: var(--grey-100);
}

.bg-primary-200 {
    background-color: var(--grey-200);
}

.bg-white-0 {
    background-color: var(--white);
}

.color-black-0 {
    color: var(--black);
}

.color-grey-200 {
    color: var(--grey-200);
}

